<div class="back-to-top-arrow">
	<a href="#" class="scroll-to-top">
		<svg viewBox="104.2 87.245 288.211 250.309" xmlns="http://www.w3.org/2000/svg">
		  <g style="" transform="matrix(0, -0.578805, 0.578805, 0, 103.621086, 337.553772)">
		    <path d="M294.671697,215.182669 L0.000000,215.182669 L0.000000,285.440041 L295.353808,285.440041 L145.289517,449.146539 L191.673025,498.940599 L432.458000,249.970300 L191.673025,1.000000 L145.289517,51.476170 Z" stroke="none"/>
		  </g>
		</svg>
	</a>
</div>