{# {{ include('_includes/component-intranet_metanav', {customContainer: 'bg-layout_medien_container', class: 'null', showCart: false}) }} #}

<div id="portal-mainnavigation">

  <div id="portal-navigation-cover" style="display: none;"></div>

  <nav id="portal-navigation" class="sidebar-left" data-sidebar-mouse="true" data-sidebar-mouse-area="10">

    <div class="menu">

      <!-- Search -->

      <div id="sidebar-section-search" class="menu-section">

        <div class="menu-section-content">

        <form action="https://www.bgetem.de/@@search" id="menu-search" role="search" method="post" data-dashlane-rid="c4347bf0ee2710a5" data-form-type="">
          <label class="sr-only" for="menu-search">Suchbegriff/Webcode</label>
          <div class="input-group">
            <input type="search" name="SearchableText" class="form-control border-dark" placeholder="Suchbegriff/Webcode" aria-label="Suchbegriff/Webcode" data-dashlane-rid="2e455bea4fa571db" data-form-type="">
            <div class="input-group-append">
              <button type="submit" class="btn btn-light border-dark">Suchen</button>
            </div>
          </div>
        </form>

        </div>

      </div>
      
      

      <!-- Admin Links -->

      

      <!-- Static Links -->

      <div id="sidebar-section-links" class="menu-section">

        <div class="menu-section-title">
          <span>Links</span>
          
        </div>

        <div class="menu-section-content">
          
            <a href="{{ alias(currentSite.baseUrl) }}" title="Startseite">
              <span class="menu-item-icon bi bi-house"></span>
              <span class="menu-item-title">Startseite</span>
            </a>
          
        </div>

      </div>

      <!-- Navigation Controls -->

      <div id="sidebar-section-navigation" class="menu-section">

        <div class="menu-section-title">
          <span>Navigation</span>
          
        </div>

        <div id="navigation-wrapper" class="navigation-dynamic">
          <div class="menu-section-content">

  

  

  <div class="has-no-back">
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/presse-aktuelles" title="Presse / Aktuelles">
        <span class="menu-item-title">Presse / Aktuelles</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/presse-aktuelles" title="Presse / Aktuelles">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/mitgliedschaft-beitrag" title="Mitgliedschaft &amp; Beitrag">
        <span class="menu-item-title">Mitgliedschaft &amp; Beitrag</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/mitgliedschaft-beitrag" title="Mitgliedschaft &amp; Beitrag">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz" title="Sicherheit &amp; Gesundheit">
        <span class="menu-item-title">Sicherheit &amp; Gesundheit</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz" title="Sicherheit &amp; Gesundheit">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/seminare" title="Seminare">
        <span class="menu-item-title">Seminare</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/seminare" title="Seminare">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/unfall-berufskrankheit" title="Unfall &amp; Berufskrankheit">
        <span class="menu-item-title">Unfall &amp; Berufskrankheit</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/unfall-berufskrankheit" title="Unfall &amp; Berufskrankheit">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/medien-service" title="Medien / Service">
        <span class="menu-item-title">Medien / Service</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/medien-service" title="Medien / Service">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
    <div class="d-flex">

      <a class="link-item" href="https://www.bgetem.de/die-bgetem" title="Die BG ETEM">
        <span class="menu-item-title">Die BG ETEM</span>
      </a>

      <a class="link-folder" href="https://www.bgetem.de/die-bgetem" title="Die BG ETEM">
        <span class="menu-item-nav bi bi-caret-right-fill"></span>
      </a>

    </div>
  </div>


</div>

        </div>

      </div>

      <!-- Editing -->

      

      <!-- Workflow -->

      

      <!-- Actions -->

      

      <!-- Document Management -->

      <div id="sidebar-section-add" class="menu-section">

        <div class="menu-section-title">
          <span>Hinzufügen</span>
          
        </div>

        <div class="menu-section-content">
          
            <a href="https://www.bgetem.de/++add++PressSubscriber">
              <span class="menu-item-icon bi bi-plus"></span>
              <span class="menu-item-title">Abonnement der Pressemitteilungen</span>
            </a>
          
        </div>

      </div>

      <!-- Display Management -->

      

    </div>

  </nav>



<div id="siguv-navigation" class="enabled">

  <nav class="navbar navbar-expand-lg">

    <div class="container">

      <a class="navbar-brand" href="{{ alias(currentSite.baseUrl) }}" title="BG ETEM Intranet Startseite - BG ETEM">
        <img src="https://www.bgetem.de/++theme++plonetheme.siguv/logo/bg-etem.svg" alt="bgetem.de - BG ETEM">
      </a>

      <ul class="navbar-nav mr-auto">

        
          <li class="nav-item dropdown">
            <a id="mitgliedschaft-beitrag" class="nav-link" href="https://www.bgetem.de/mitgliedschaft-beitrag">
              Mitgliedschaft &amp; Beitrag
            </a>
          </li>
        
          <li class="nav-item dropdown">
            <a id="arbeitssicherheit-gesundheitsschutz" class="nav-link" href="https://www.bgetem.de/arbeitssicherheit-gesundheitsschutz">
              Sicherheit &amp; Gesundheit
            </a>
          </li>
        
          <li class="nav-item dropdown">
            <a id="unfall-berufskrankheit" class="nav-link" href="https://www.bgetem.de/unfall-berufskrankheit">
              Unfall &amp; Berufskrankheit
            </a>
          </li>
        

      </ul>

      <div id="sidebar-handle">
        <img class="icon icon-inline icon-lg" src="https://www.bgetem.de/++theme++plonetheme.tokyo/icons/bootstrap/justify.svg" alt="Sign Sidebar" style="margin: -3px 5px 0 0 !important;">
        <span>Menü</span>
      </div>

    </div>

  </nav>

</div>
</div>