<br><br><hr><br><br>
<h2><strong>Beispiel Form</strong></h2><br><br>

<h1>Mitteilung an die Berufsgenossenschaft</h1>
<p><strong>Bitte füllen Sie die folgenden Formularfelder aus und klicken danach auf "Absenden". Die mit einer roten Markierung gekennzeichneten Felder sind Pflichtfelder.</strong></p><br><br>

<form action="https://www.bgetem.de/willkommen-bei-der-berufsgenossenschaft/webkontakt_form" method="post" enctype="multipart/form-data" id="zc.page.browser_form" class="kssattr-formname-webkontakt_form">              

  <fieldset>
    <label for="form.adresse">
      <span>Thema</span>
      <span class="required" title="Erforderlich">&nbsp;</span>
      <span class="formHelp">Bitte wählen Sie ein Thema:</span>
    </label>
    <div class="fields">
      <div class="fieldErrorBox"></div>
      <select id="form.adresse" name="form.adresse" size="1" required>
          <option selected="selected" value="">(keine Auswahl)</option>
          <option value="ba.koeln@bgetem.de">Mitgliedschaft/Beitrag</option>
          <option value="reha@bgetem.de">Unfall/Berufskrankheit</option>
          <option value="bildung-koeln@bgetem.de">Seminare/Weiterbildung</option>
          <option value="tabvdienst@bgetem.de">Arbeitssicherheit/Gesundheitsschutz</option>
          <option value="regress@bgetem.de">Regressverfahren/Rückgriff</option>
          <option value="zumLeserservice">Leserservice: etem, Impuls, Arbeit und Gesundheit</option>
          <option value="medien@bgetem.de">Informationsmaterial/Medien</option>
          <option value="internet@bgetem.de">Internetauftritt der BG ETEM</option>
          <option value="ideen.beschwerden@bgetem.de">Ideen/Anregungen/Beschwerden</option>
        </select>
    </div>
  </fieldset>

  <fieldset>

    <label for="form.anrede">
      <span>Anrede</span>
      <span class="required" title="Erforderlich">&nbsp;</span>
      <span class="formHelp">Bitte treffen Sie hier eine Auswahl</span>
    </label>

    <div class="fields">
      <div class="fieldErrorBox"></div>
      <select id="form.anrede" name="form.anrede" size="1" required>
          <option selected="selected" value="">(keine Auswahl)</option>
          <option value="Herr">Herr</option>
          <option value="Frau">Frau</option>
        </select>
    </div>

    <label for="form.vorname" class="error">
      <span>Vorname, Nachname</span><span class="required" title="Erforderlich">&nbsp;</span>
      <span class="formHelp">Bitte tragen Sie hier Ihren Vornamen und Namen ein.</span>
      <div class="fieldErrorBox">Erforderliche Eingabe fehlt.</div>
    </label>
    <div class="fields">
      
      <input class="textType" id="form.vorname" name="form.vorname" size="20" type="text" value="" required>
      <input class="textType" id="form.name" name="form.name" size="20" type="text" value="" required>
    </div>

    <label for="form.gebDatum">
      <span>Geburtsdatum</span>
      <span class="formHelp">Bitte tragen Sie hier Ihr Geburtsdatum ein.</span>
    </label>
    <div class="fields">
      <input class="textType" id="form.gebDatum" name="form.gebDatum" size="20" type="date" value="">
    </div>

     <label for="form.strhnr">
      <span>Straße und Hausnummer</span>
      <span class="formHelp">Hier können Sie uns gern Straße und Hausnummer mitteilen.</span>
    </label>

    <div class="fields">
      <div class="fieldErrorBox"></div>
      <input class="textType" id="form.strhnr" name="form.strhnr" type="text" value="">
      <input class="textType" id="form.strhnr" name="form.strhnr" type="text" value="">
    </div>

    <label for="form.strhnr">
      <span>Radiobutton</span>
      <span class="formHelp">Hier können Sie einen Radiobutton klicken.</span>
    </label>

    <div class="fields radio">
      <div class="fieldErrorBox"></div>
      <input class="textType" id="form.strhnr" name="form.strhnr" type="radio" value=""> <label for="">Ja</label> 
      <input class="textType" id="form.strhnr" name="form.strhnr" type="radio" value=""> <label for="">Nein</label>
    </div>

    <label for="form.strhnr">
      <span>Checkboxen</span>
      <span class="formHelp">Hier können Sie Checkboxen klicken.</span>
    </label>

    <div class="fields checkbox">
      <div class="fieldErrorBox"></div>
      <input class="textType" id="form.strhnr" name="form.strhnr" type="checkbox" value=""> <label for="">Ja</label>
      <input class="textType" id="form.strhnr" name="form.strhnr" type="checkbox" value=""> <label for="">Nein</label>
    </div>
  
  </fieldset>

  <fieldset>
     <label for="form.unternehmen">
      <span>Firma</span>
      <span class="formHelp">Bitte tragen Sie hier den Namen Ihres Unternehmens ein.</span>
    </label>

    <div class="fields">
      <input class="textType" id="form.unternehmen" name="form.unternehmen" size="20" type="text" value="">
    </div>
    <label for="form.mitgliedsnr">
      <span>Mitgliedsnummer</span>
      <span class="formHelp">Bitte tragen Sie hier die Mitgliedsnummer Ihres Unternehmens ein.</span>
    </label>
    <div class="fields">
      <input class="textType" id="form.mitgliedsnr" name="form.mitgliedsnr" size="20" type="text" value="">
    </div>

      <label for="form.aktenzeichen">
      <span>Aktenzeichen</span>

      <span class="formHelp">Bitte tragen Sie hier, falls bekannt, das Aktenzeichen ein.</span>
    </label>
    <div class="fields">
      <input class="textType" id="form.aktenzeichen" name="form.aktenzeichen" size="20" type="text" value="">
    </div>
  </fieldset>

  <fieldset>
     <label for="form.betreff">
      <span>Betreff</span>
      <span class="formHelp">Zusammenfassung Ihrer Nachricht an die BG ETEM.</span>
    </label>

    <div class="fields">
      <div class="fieldErrorBox"></div>
      <input class="textType" id="form.betreff" name="form.betreff" type="text" value="">
    </div>

    <label for="form.nachricht">
      <span>Ihre Nachricht</span>
      <span class="required" title="Erforderlich">&nbsp;</span>
      <span class="formHelp">Wie können wir Ihnen behilflich sein?</span>
    </label>
                        
    <div class="fields">
      <div class="fieldErrorBox"></div>
      <textarea id="form.nachricht" name="form.nachricht" rows="5" required></textarea>
    </div>
   
  </fieldset>

  <fieldset>
    <input type="submit" id="form.actions.absenden" name="form.actions.absenden" value="Absenden" class="context">
  </fieldset>

</form>