<div class="col-3">
		<div class="portlets">
			<div class="card portlet mb-5">
				<div class="card-header">
					<h3 class="h6 card-title">Allgemeine Geschäftsbedingungen</h3>
				</div>
				<div class="card-body portlet-body-wrapper">
					<p>Informationen zu unseren Preisen und Freimengen, zur Lieferung und Nutzung sowie zu Sonderregelungen finden Sie in unseren <a class="external-link" href="https://www.bgetem.de/die-bgetem/impressum/medienportal-agb" target="_self" title=""><span class="external-link">Allgemeinen Geschäftsbedingungen</span></a>.</p>
				</div>
			</div>
		</div>
		<div class="card portlet mb-5">
			<div class="card-header">
				<h3 class="h6 card-title">Lizenzbedingungen für die Nutzung audiovisueller Medien</h3>
			</div>
			<div class="card-body portlet-body-wrapper">
				<p class=" " id="parent-fieldname-title">Informationen zur Nutzung der bei der BG ETEM erworbenen Medien erhalten Sie in unseren <a class="external-link" href="https://www.bgetem.de/die-bgetem/impressum/lizenzbedingungen-fuer-die-nutzung-der-audiovisuellen-medien-der-bg-etem" target="_self" title="">Lizenzbedingungen für die Nutzung der audiovisuellen Medien der BG ETEM</a>.</p>
			</div>
		</div>
		<div class="card portlet mb-5">
			<div class="card-header">
				<h3 class="h6 card-title">Barrierefreie pdf-Dateien</h3>
			</div>
			<div class="card-body portlet-body-wrapper">
				<p>Unsere pdf-Dateien sind derzeit teilweise nicht barrierefrei. Sie werden ersetzt, sobald eine barrierefreie Version vorliegt.</p>
			</div>
		</div>
		<div class="card portlet mb-5">
			<div class="card-header">
				<h3 class="h6 card-title">Übersicht DGUV Vorschriften</h3>
			</div>
			<div class="card-body portlet-body-wrapper">
				<p>Eine Übersicht der bei den Unfallversicherungsträgern aktuell gültigen Unfallverhütungsvorschriften können Sie bei der <a class="external-link" href="https://www.dguv.de/de/praevention/vorschriften_regeln/vorschriften/index.jsp" target="_blank" title="Link zur Website der DGUV">Deutschen Gesetzlichen Unfallversicherung</a> herunterladen.</p>
			</div>
		</div>
	</div>
</div>