/.env
/.idea
/vendor
.DS_Store
/node_modules
.DS_Store
/_box
/scripts
/storage
/web/.htaccess
/web/index.php
/web/img
/web/media-assets
/node_modules
/craft/package-lock.json
/web/imager
/web/assets
/web/cpresources
/craft/config/license.key
/__legacy
/web/bilder
/.ddev
/web/audio
/b.sql
/b.csv
