<div class="text-right position-relative" id="kc-locale">
    <div id="kc-locale-wrapper" class="">
        <div id="kc-locale-dropdown" class="">
            <a href="#" id="kc-current-locale-link">Deutsch</a>
            <ul class="bg-white p-2 text-right shadow position-absolute d-none">
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=de">Deutsch</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=no">Norsk</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=ru">Русский</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=sv">Svenska</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=pt-BR">Português (Brasil)</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=lt">Lietuvių</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=en">English</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=it">Italiano</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=fr">Français</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=hu">Magyar</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=zh-CN">中文简体</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=es">Español</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=cs">Čeština</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=ja">日本語</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=sk">Slovenčina</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=pl">Polski</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=da">Dansk</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=ca">Català</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=nl">Nederlands</a>
                    </li>
                    <li class="d-block my-1">
                        <a class="" href="/auth/realms/siguv/login-actions/reset-credentials?client_id=account-console&amp;tab_id=lEsWHeNOYD0&amp;execution=570ce6cf-a020-499f-896a-3c8cc62b3c53&amp;kc_locale=tr">Türkçe</a>
                    </li>
            </ul>
        </div>
    </div>
</div>