section.sharing-buttons,
div.sharing-buttons {
	margin-top: 36px;
	border-top: 1px solid $dguv-grau-9;
	padding-top: 12px;
	// display: inline-block;
	ul {
		li {
			display: inline;
			a {
				&:hover {
					text-decoration: none;
				}
			}
			span {
				&.share_text {
					position: absolute;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0;
					clip: rect(0 0 0 0);
					overflow: hidden;
				}
				&:before {
				    background-size: 70% !important;
				    width: 30px !important;
				    height: 30px !important;
				    background-repeat: no-repeat !important;
				    display: block !important;
				    vertical-align: baseline !important;
				    background-position: center center !important;
				    padding: 0 !important;
				    margin:0 !important;
				}
				background: $dguv-grau-7;
				display: inline-block;
				padding: 3px;
				&.twitter {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%220.082%20-3.824%20638.754%20519.121%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22m200.964844%20515.292969c241.050781%200%20372.871094-199.703125%20372.871094-372.871094%200-5.671875-.117188-11.320313-.371094-16.9375%2025.585937-18.5%2047.824218-41.585937%2065.371094-67.863281-23.480469%2010.441406-48.753907%2017.460937-75.257813%2020.636718%2027.054687-16.230468%2047.828125-41.894531%2057.625-72.488281-25.320313%2015.011719-53.363281%2025.917969-83.214844%2031.808594-23.914062-25.472656-57.964843-41.402344-95.664062-41.402344-72.367188%200-131.058594%2058.6875-131.058594%20131.03125%200%2010.289063%201.152344%2020.289063%203.398437%2029.882813-108.917968-5.480469-205.503906-57.625-270.132812-136.921875-11.25%2019.363281-17.742188%2041.863281-17.742188%2065.871093%200%2045.460938%2023.136719%2085.605469%2058.316407%20109.082032-21.5-.660156-41.695313-6.5625-59.351563-16.386719-.019531.550781-.019531%201.085937-.019531%201.671875%200%2063.46875%2045.171875%20116.460938%20105.144531%20128.46875-11.015625%202.996094-22.605468%204.609375-34.558594%204.609375-8.429687%200-16.648437-.828125-24.632812-2.363281%2016.683594%2052.070312%2065.066406%2089.960937%20122.425781%2091.023437-44.855469%2035.15625-101.359375%2056.097657-162.769531%2056.097657-10.5625%200-21.003906-.605469-31.2617188-1.816407%2057.9999998%2037.175781%20126.8710938%2058.871094%20200.8867188%2058.871094%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E');
					}
					&:hover {
						background: #1DA1F2;
					}
				}
				&.facebook {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%220%200%2014222%2014136%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20class%3D%22fil0%22%20d%3D%22M14222%207111c0%2C-3927%20-3184%2C-7111%20-7111%2C-7111%20-3927%2C0%20-7111%2C3184%20-7111%2C7111%200%2C3549%202600%2C6491%206000%2C7025l0%20-4969%20-1806%200%200%20-2056%201806%200%200%20-1567c0%2C-1782%201062%2C-2767%202686%2C-2767%20778%2C0%201592%2C139%201592%2C139l0%201750%20-897%200c-883%2C0%20-1159%2C548%20-1159%2C1111l0%201334%201972%200%20-315%202056%20-1657%200%200%204969c3400%2C-533%206000%2C-3475%206000%2C-7025z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E');
					}
					&:hover {
						background: #3b5998;
					}
				}
				&.linkedin {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%22-0.927%20-1.353%20512.117%20512.131%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M473.305%2C-1.353c20.88%2C0%2037.885%2C16.533%2037.885%2C36.926l0%2C438.251c0%2C20.393%20-17.005%2C36.954%20-37.885%2C36.954l-436.459%2C0c-20.839%2C0%20-37.773%2C-16.561%20-37.773%2C-36.954l0%2C-438.251c0%2C-20.393%2016.934%2C-36.926%2037.773%2C-36.926l436.459%2C0Zm-37.829%2C436.389l0%2C-134.034c0%2C-65.822%20-14.212%2C-116.427%20-91.12%2C-116.427c-36.955%2C0%20-61.739%2C20.263%20-71.867%2C39.476l-1.04%2C0l0%2C-33.411l-72.811%2C0l0%2C244.396l75.866%2C0l0%2C-120.878c0%2C-31.883%206.031%2C-62.773%2045.554%2C-62.773c38.981%2C0%2039.468%2C36.461%2039.468%2C64.802l0%2C118.849l75.95%2C0Zm-284.489%2C-244.396l-76.034%2C0l0%2C244.396l76.034%2C0l0%2C-244.396Zm-37.997%2C-121.489c-24.395%2C0%20-44.066%2C19.735%20-44.066%2C44.047c0%2C24.318%2019.671%2C44.052%2044.066%2C44.052c24.299%2C0%2044.026%2C-19.734%2044.026%2C-44.052c0%2C-24.312%20-19.727%2C-44.047%20-44.026%2C-44.047Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E');
					}
					&:hover {
						background: #2867B2;
					}
				}
				&.envelope {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20350%20350%22%3E%3Cpath%20d%3D%22M274.83%2C75.17H50.22V274.83H299.78V75.17Zm-10.16%2C25-80.46%2C80.46a13%2C13%2C0%2C0%2C1-18.42%2C0L85.33%2C100.13ZM75.17%2C249.87V125.27l73%2C73a38%2C38%2C0%2C0%2C0%2C53.71%2C0l73-73v124.6Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
						background-size: 90% !important;
					}
					&:hover {
						background: $dguv-blau;
					}
				}
				&.whatsapp {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M.057%2024l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556%205.338-11.891%2011.893-11.891%203.181.001%206.167%201.24%208.413%203.488%202.245%202.248%203.481%205.236%203.48%208.414-.003%206.557-5.338%2011.892-11.893%2011.892-1.99-.001-3.951-.5-5.688-1.448l-6.305%201.654zm6.597-3.807c1.676.995%203.276%201.591%205.392%201.592%205.448%200%209.886-4.434%209.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452%200-9.887%204.434-9.889%209.884-.001%202.225.651%203.891%201.746%205.634l-.999%203.648%203.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941%201.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198%200-.52.074-.792.372s-1.04%201.016-1.04%202.479%201.065%202.876%201.213%203.074c.149.198%202.095%203.2%205.076%204.487.709.306%201.263.489%201.694.626.712.226%201.36.194%201.872.118.571-.085%201.758-.719%202.006-1.413.248-.695.248-1.29.173-1.414z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
					}
					&:hover {
						background: #4AC959;
					}
				}
				&.xing {
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%227.5%205%2085%2090%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M60.364%2C95L40.236%2C59.717L71.475%2C5H92.5L61.262%2C59.717L81.391%2C95H60.364z%20M27.322%2C67.787l15.617-25.711l-11.712-20.63%20%20H11.404l11.713%2C20.63L7.5%2C67.787H27.322z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E');
					}
					&:hover {
						background: #126567;
					}
				}
				&.info {
					opacity: .3;
					&:before {
						content:'';
						background: url('data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%2250.034%2050.22%20249.746%20249.56%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M%20167.52%20100.13%20L%20182.48%20100.13%20C%20185.241%20100.13%20187.48%20102.369%20187.48%20105.13%20L%20187.48%20120.09%20C%20187.48%20122.851%20185.241%20125.09%20182.48%20125.09%20L%20167.52%20125.09%20C%20164.759%20125.09%20162.52%20122.851%20162.52%20120.09%20L%20162.52%20105.13%20C%20162.52%20102.369%20164.759%20100.13%20167.52%20100.13%20Z%20M%20162.52%20150.04%20L%20187.48%20150.04%20L%20187.48%20249.87%20L%20162.52%20249.87%20L%20162.52%20150.04%20Z%20M%20175%20299.78%20C%2078.944%20299.78%2018.91%20195.797%2066.937%20112.61%20C%20114.965%2029.423000000000002%20235.035%2029.423000000000002%20283.063%20112.61%20C%20294.014%20131.579%20299.78%20153.097%20299.78%20175%20C%20299.708%20243.884%20243.884%20299.708%20175%20299.78%20Z%20M%20175%2075.17%20C%2098.151%2075.17%2050.12%20158.362%2088.545%20224.915%20C%20126.969%20291.468%20223.031%20291.468%20261.455%20224.915%20C%20270.217%20209.739%20274.83%20192.524%20274.83%20175%20C%20274.736%20119.904%20230.096%2075.264%20175%2075.17%20Z%22%2F%3E%0A%3C%2Fsvg%3E');
						background-size: 50% !important;
						background-position: center left !important;
					}
					background: #FFFFFF;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}