{% import '_macros.twig' as macros %}
{% extends "_layout" %}

{% block content %}

{# <a href="{{ currentSite.baseUrl }}">Start</a> #}

<article>
	<header>
		<h1>404 – Seite nicht gefunden</h1>

	</header>
	<section class="article-body clearfix">

	
	</section>
</article>



{% endblock %}